<div #bij_viewport
     class="bij-viewport"
     bijDimension
     (dimensionChange)="onViewportDimensionChange($event)">
  <table [bijHorizontalTouchScrollSupport]="horizontalTouchScrollConfig"
         (horizontalTouchScroll)="onHorizontalTouchScroll($event)"
         [style.transform]="transform"
         bijDimension
         (dimensionChange)="onViewportClientDimensionChange($event)">

    <colgroup *ngIf="tableModel.header">
      <col *ngFor="let titleCell of tableModel.header.titleCells">
    </colgroup>

    <!-- Header -->
    <thead *ngIf="tableModel.header && tableModel.header.visible"
           bijDimension
           (dimensionChange)="onTableHeadDimensionChange($event)">
    <!-- TR -->
    <ng-container [bijTemplateOutlet]="{templateRef: tableModel.header.trTemplateRef || tr_head_template, context: {$implicit: newTrHeadData(head_row_template)}}">

      <!-- TH header-row-template with TH elements -->
      <ng-template #head_row_template>
        <ng-container
          *ngFor="let titleCell of tableModel.header.titleCells; let cellIndex=index"
          [bijTemplateOutlet]="{templateRef: titleCell.thTemplateRef || th_template, context: { $implicit: newThData(titleCell, cellIndex)}, identity: cellIndex}">
        </ng-container>
      </ng-template>
    </ng-container>
    </thead>

    <!-- Body -->
    <tbody tabindex="-1"
           (keydown.arrowUp)="onArrowUp()"
           (keydown.arrowDown)="onArrowDown()"
           (keydown.pageUp)="onPageUp($event)"
           (keydown.pageDown)="onPageDown($event)"
           (keydown.control.home)="onPageHome($event)"
           (keydown.control.end)="onPageEnd($event)"
           (touchstart)="onTouchStart()"
           (touchend)="onTouchEnd()"
           [bijVerticalTouchScrollSupport]="verticalTouchScrollConfig"
           (verticalTouchScroll)="onVerticalTouchScroll($event)"
           bijVerticalWheelScrollSupport
           (verticalWheelScroll)="onMouseWheel($event)">

      <!-- TR -->
      <!-- While a touch gesture is active, the gesture's source rows must be kept in the DOM until the gesture completes. -->
      <!-- Any modification (i.e. moving/removing these rows) would prevent further touch events and corrupt the gesture. -->
      <!-- For that reason, the first, primary 'ng-container' is responsible for rendering the rows, but stops modifying the DOM while a touch gesture is in place. (see BijTableComponent.rows(...)) -->
      <!-- In consequence, the second 'ng-container' then renders the rows until the gesture completes. -->
      <ng-container [bijTemplateOutlet]="{templateRef: table_body_rows, context: { gestureSourceRow: true }}"></ng-container>
      <ng-container *ngIf="isGestureActive()" [bijTemplateOutlet]="{templateRef: table_body_rows, context: { gestureSourceRow: false }}"></ng-container>
    </tbody>
  </table>

  <ng-template #table_body_rows let-gestureSourceRow="gestureSourceRow">
    <ng-container
      *ngFor="let row of getRows(gestureSourceRow); trackBy: trackByRowFn; let rowIndex=index;"
      [bijTemplateOutlet]="{templateRef: row.trTemplateRef || tr_template, context: { $implicit: newTrData(row, rowIndex, body_row_template, gestureSourceRow)}, identity: rowIndex}">

      <!-- TD header-row-template with TD elements -->
      <ng-template #body_row_template>
        <td *ngFor="let cell of row.cells"><ng-container *ngTemplateOutlet="cell.templateRef"></ng-container></td>
      </ng-template>
    </ng-container>
  </ng-template>

  <!-- Default <TR> head template -->
  <ng-template #tr_head_template let-trHeadData>
    <tr [bijTrHead]="trHeadData"><ng-template></ng-template></tr>
  </ng-template>

  <!-- Default <TH> head template -->
  <ng-template #th_template let-thData>
    <th [bijTh]="thData"><ng-template></ng-template></th>
  </ng-template>

  <!-- Default <TR> body template -->
  <ng-template #tr_template let-trData>
    <tr [bijTr]="trData"><ng-template></ng-template></tr>
  </ng-template>
</div>
<bij-scrollbar *ngIf="verticalScrollbarVisible"
               [direction]="ScrollDirection.Vertical"
               [thumbPosition]="scrollModel.positionRatio"
               [thumbSize]="scrollModel.rangeRatio"
               [minScrollRatio]="1 / scrollModel.scrollSize"
               [style.top.px]="scrollbarTopPx"
               (scroll)="onVerticalScroll($event)">
</bij-scrollbar>

<bij-scrollbar *ngIf="horizontalContentOverflow"
               [direction]="ScrollDirection.Horizontal"
               [thumbPosition]="horizontalScrollThumbPositionRatio"
               [thumbSize]="horizontalScrollThumbSizeRatio"
               (scroll)="onHorizontalScroll($event)">
</bij-scrollbar>
