@import "../colors";

:host {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 5px 10px;

  > header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > img {
      width: 48px;
      height: 48px;
    }
  }

  > main {
    position: relative; // positioned anchor
    flex: auto;
  }

  > footer {
    flex: none;
    text-align: center;

    a {
      color: $monbijou-orange;
      text-decoration: none;
    }
  }
}
