<div class="monbijou">
  <div class="table">
    <bij-table>
      <bij-header>
        <bij-title-cell><ng-template>ID</ng-template></bij-title-cell>
        <bij-title-cell><ng-template>Firstname</ng-template></bij-title-cell>
        <bij-title-cell><ng-template>Lastname</ng-template></bij-title-cell>
      </bij-header>

      <bij-row *ngFor="let person of personsMonbijou">
        <bij-cell><ng-template>{{person.id}}</ng-template></bij-cell>
        <bij-cell><ng-template><b>{{person.firstname}}</b></ng-template></bij-cell>
        <bij-cell><ng-template>{{person.lastname}}</ng-template></bij-cell>
      </bij-row>
    </bij-table>
  </div>

  <div class="buttons">
    <button (click)="addPersonMonbijou()">Add 1</button>
    <button (click)="removePersonMonbijou()">Remove 1</button>
    <button (click)="resetPersonsMonbijou()">Reset</button>
    <button (click)="duplicateDataMonbijou()">Duplicate</button>
    <button (click)="clearPersonsMonbijou()">Clear</button>
  </div>
</div>

<div class="native">
  <div class="table">
    <table>
      <colgroup>
        <col>
        <col>
        <col>
      </colgroup>
      <thead>
      <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
      </tr>
      </thead>

      <tr *ngFor="let person of personsNative">
        <td>{{person.id}}</td>
        <td><b>{{person.firstname}}</b></td>
        <td>{{person.lastname}}</td>
      </tr>
    </table>
  </div>

  <div class="buttons">
    <button (click)="addPersonNative()">Add 1</button>
    <button (click)="removePersonNative()">Remove 1</button>
    <button (click)="resetPersonsNative()">Reset</button>
    <button (click)="duplicateDataNative()">Duplicate</button>
    <button (click)="clearPersonsNative()">Clear</button>
  </div>

</div>
